input {
    border:1px solid #9E9E9E;
    border-radius: 5px;
    color: #000000;    
    margin-top: 1px;
    font-size: 12px;
    font-family: Verdana;
    background: #FFF;
    width: 25px;
  }
  .indiv {
    width: 15-px;
    height: 25pt;
    background: rgb(67, 69, 167);
    border:3px solid #9E9E9E;
    border-radius: 5px;
    padding: 4px;

  }
  .inp {
    text-align:left;
    vertical-align: ;
  
  }